@import "tailwindcss";
body {
    font-family: 'Outfit', sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media (max-width: 1164px) {
    .hide-at-1164 {
        display: none !important;
    }
}